@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

:root{
    --base-color : #08003A;
    --accent-color : #7b004f;
    --danger-color : #d3172c;
}

html,body{
    
    font-family: 'Josefin Sans', sans-serif;
}

body{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

input,textarea,select,option,button{
    font-family: 'Josefin Sans', sans-serif;
}